.MMM-XiaomiVacuum .name {
  padding-left: 0;
  padding-right: 25px;
  text-align: left;
}

.MMMM-XiaomiVacuum .phase {
  padding-left: 0;
  padding-right: 15px;
}

.MMM-XiaomiVacuum .battery {
  padding-left: 30px;
  padding-right: 0;
}
